.table-hover tbody tr:hover > td {
    cursor: pointer;
    cursor: hand;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}

crud-search-values {
    font-size: smaller;
    font-style: italic;
}